extends ../../components/organisms/layout/layout

block content
    main.main
        //- include ../../components/organisms/header/header
        hr
        include ../../components/molecules/company-info/company-info
        hr
        .red RED