extends ../../components/organisms/layout/layout

//- head
//- link(rel="stylesheet", type="text/css", href="../css/main/main.css")

block content
    .main
        include ../../components/organisms/main/main


















    //- main.main
    //-     include ../../components/molecules/banner/banner
        