.main
    .main_banner
        .main_banner_bannerImage 
            .p1 Fusce vitae nibh quis diam fermentum 
            .p2 Etiam adipiscing ultricies commodo.
        ul.main_banner_bannerNav
            li.main_banner_bannerNav_item.main_button--active(data=1) Lorem Ipsum Dolop
            li.main_banner_bannerNav_item(data=2) Ultricies Pellentesque
            li.main_banner_bannerNav_item(data=3) Aliquam ipsum
            li.main_banner_bannerNav_item(data=4) Nullam sed mauris ut


    .main_blocks
        .main_blocks_item 
            .main_blocks_item_topLine(data=01234) About WhiteSquare
            p In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac ultrices. 
        .main_blocks_item 
            .main_blocks_item_topLine(data=01234) a word from OUR ceo
            p “In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac.”
        .main_blocks_item 
            .main_blocks_item_topLine(data=01234) services
        .main_blocks_item 
            .main_blocks_item_topLine(data=01234) our teams
        .main_blocks_item 
            .main_blocks_item_topLine(data=01234) 27/7/365 support



    //- .main_blocks_firstLine
    //-     .main_blocks_firstLine_item
    //-         .main_blocks_topLine About WhiteSquare

            
    //-     .main_blocks_firstLine_item
    //-         .main_blocks_topLine a word from OUR ceo

    //- .main_blocks_secondLine
    //-     .main_blocks_services
    //-         .main_blocks_topLine services
    //-     .main_blocks_team
    //-         .main_blocks_topLine our teams
    //-     .main_blocks_support
    //-         .main_blocks_topLine 27/7/365 support