.header
    .header_topLine
    .header_top
        .header_top_logo BlueSite
        .header_top_search 
            input(type='text' class='input' placeholder='Search') 
            button(type='button' class='button' ) GO
    ul.header_menu 
        li.header_menu_item.header_button--active HOME
        li.header_menu_item SERVICES
        li.header_menu_item ABOUT US
        li.header_menu_item PARTNERS
        li.header_menu_item CUSTOMERS
        li.header_menu_item PROJECTS
        li.header_menu_item CAREERS
        li.header_menu_item CONTACT